backend:
  name: git-gateway
  branch: main

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "links"
    label: "Links"
    files:
      - name: "links"
        label: "Links list"
        file: "data/links.json"
        fields:
          - label: "Links"
            name: "links"
            widget: "list"
            fields:
              - { label: "Title", name: "title", widget: "string" }
              - { label: "URL", name: "url", widget: "string" }
